<%= render "shared/header" %>
  <div class="container">
    <h2>質問編集</h2>
    <%= form_with model: @question, local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title, id: "title", placeholder: "タイトルを入力" %>
      </div>
      <div class="form-group">
        <%= f.label :カテゴリー %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: "category-select" }) %>
      </div>
      <div class="form-group">
        <%= f.label :質問内容 %>
        <%= f.text_area :content, id: "content", placeholder: "質問の詳細を入力" %>
      </div>
      <div class="form-group">
        <p>クリックしてファイルをアップロード(任意)</p>
        <%= f.file_field :image, id: "item-image" %>
      </div>
    <div class="form-group">
      <%= f.label :担当部署 %>
  <%= f.collection_select :department_id, Department.all, :id ,:department,{}, {class:"department-select"} %>
    </div>
      <div class="form-group">
        <%= f.label :回答期限 %>
        <%= f.datetime_local_field :deadline, id: "deadline", class: "deadline" %>
      </div>
      <%= f.submit "更新する", class: "bottom-button" %>
      <div class="return">
        <div>
        <%= link_to '戻る', question_path(@question), class: "bottom-button" %>
        </div>
      </div>
    <% end %>
  </div>