
<%= render "shared/header" %>

<div class="container">
  <h2>質問一覧</h2>

  <% @questions.each do |question| %>
  <%= link_to question_path(question) do %>
<div class = "question">
  <h3><%= question.title %></h3>
  <p class="details">To:<%= Affilation.find(question.affilation_id).name %> | <%= Category.find(question.category_id).name %> | 回答期限: <%= question.deadline %></p>
  <p><%= question.content %></p>
  <%= User.find(question.user_id).last_name %> <%= User.find(question.user_id).first_name %>
  </div>
    <% end %>
<% end %>
</div>
</div>

<%= link_to  new_question_path, class: 'purchase-btn' do %>
<button class="fixed-button">質問投稿</button>
<% end %>
