
<%= render "shared/header" %>

<%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form") do |form| %>
<div class="search">
<div class = "search-container">
<%= form.text_field :keyword, placeholder: "質問を検索する", class: "search-input" %>
<%= form.submit "検索", class: "search-button" %>
</div>
</div>
<% end %>

<div class="container">
  <h2>質問一覧</h2>
<% if @questions.any? %>
  <% @questions.each do |question| %>
  <%= link_to question_path(question) do %>
<div class = "question">
  <h3><%= question.title %></h3>
  <p class="details">To:<%= Department.find(question.department_id).department %> | <%= Category.find(question.category_id).name %> | 回答期限: <%= question.deadline %></p>
  <p><%= question.content %></p>
  <%= User.find(question.user_id).last_name %> <%= User.find(question.user_id).first_name %>
  </div>
    <% end %>
<% end %>
<% else %>
  <p>該当する質問が見つかりませんでした。</p>
<% end %>
</div>
</div>

<%= link_to  new_question_path, class: 'purchase-btn' do %>
<button class="fixed-button">質問投稿</button>
<% end %>
