<%= render "shared/header" %>

<div class="container">
  <h2>質問投稿</h2><br>

  <%= form_with model: @question, url: "/questions", method: :post, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
      <%= f.label :タイトル%>
      <%= f.text_field :title, id:"title", placeholder:"タイトルを入力" %>
  </div>
    <div class="form-group">
      <%= f.label :カテゴリー %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
  </div>
  <div class="form-group">
      <%= f.label :質問内容 %>
      <%= f.text_area :content, id:"content", placeholder:"質問の詳細を入力" %>
  </div>
  <div class="form-group">
     <p>クリックしてファイルをアップロード(任意)</p>
        <%= f.file_field :image, id:"item-image" %>
  </div>
    <div class="form-group">
      <%= f.label :担当部署 %>
  <%= f.collection_select :department_id, Department.all, :id ,:department,{}, {class:"department-select"} %>
    </div>
  <div class="form-group">
      <%= f.label :回答期限 %>
      <%= f.datetime_local_field :deadline, id: "deadline", class: "deadline" %>
  </div>
  <button>投稿</button>
</div>
<% end %>
