<%= render "shared/header" %>

<%= form_with model: @question , local: true do |f|%>

<div class="container">
  <h2><%= @question.title %></h2>
  <p class="details">
<%= User.find(@question.user_id).inner_line %> | <%= User.find(@question.user_id).last_name %> <%= User.find(@question.user_id).first_name %>　
To: <%= Department.find(@question.department_id).department %> | 回答期限: <%= @question.deadline %></p>
  
  <div class="content">
      <h3>質問内容</h3>
      <p><%= @question.content %></p>
  </div>
  
  <% if @question.image.attached?%>
<div class = "image-box-item">
  <%= image_tag @question.image, class: "image-box" %>
</div>
<% else %>
<% end %>



<div class = "btn">
  <% if current_user.present? && current_user.id == @question.user_id %>
  <div class = "ex-button">
   <%= link_to "編集する", edit_question_path ,method: :get , class:"answer-button" %>
  </div>
  <div class = "ex-button">
   <%= link_to "削除する", question_path ,data: {turbo_method: :delete} , class:"answer-button" %>
  </div>
 <% else %>
  <% if user_signed_in? && current_user.department_id == @question.department_id %>
    <div class = "ex-button">
    <%= link_to "回答する", new_question_answer_path(@question.id) , class:"answer-button" %>
      </div>
    <% else %>
    <% end %>
    <% end %>

    <% end %>
</div>
  <h3>回答一覧</h3>
  <% if @answers.present? %>
  <% @answers.each do |answer| %>
    <ul>
      <li><%= answer.answer %><br>
      <%= Affilation.find(answer.user_id).name %> : <%= User.find(answer.user_id).last_name %> <%= User.find(answer.user_id).first_name %>(<%= User.find(answer.user_id).inner_line%>)</li>
    </ul>
  <% end %>
<% else %>
  <p>まだ回答がありません。</p>
<% end %>
</div>

