<%= render "shared/header" %>

<div class="container">
  <h2>マイページ</h2>
  <p>名前: <span id="my-name"><%= @user.last_name %> <%= @user.first_name %></span></p>
  <p>所属: <span id="my-name"><%= Department.find(@user.department_id).department %></span></p>
  <p>メールアドレス: <span id="my-email"><%= @user.email %></span></p>
  <p>内線番号: <span id="my-extension"><%= @user.inner_line %></span></p>
  
  <h3>過去の質問一覧</h3>
  <% @questions.each do |question| %>
    <ul>
      <li><%= link_to question.title, question_path(question.id) %></li>
    </ul>
  <% end %>
  
  <h3>過去の回答一覧</h3>
  <% @answers.each do |answer| %>
  <ul>
      <li><%= link_to answer.answer, question_path(answer.question.id) %></li>
  </ul>
    <% end %>
</div>

