<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイページ - Q-Bridge</title>
  <style>
      body {
          font-family: 'Arial', sans-serif;
          background-color: #e6f7ff;
          color: #333;
          margin: 0;
          padding: 0;
      }
      .container {
          max-width: 600px;
          margin: 50px auto;
          padding: 20px;
          background-color: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      h3 {
          margin: 0;
      }
      ul {
          list-style-type: none;
          padding: 0;
      }
      li {
          background-color: #f0f8ff;
          margin: 10px 0;
          padding: 10px;
          border-radius: 5px;
      }
      .image-box{
        max-width: 100%;
        height: auto;
        display: block;
 
      }
      .image-box-item{
        margin-top: 20px;
          padding: 15px;
          border: 1px solid #0056b3;
          border-radius: 5px;
          background-color: #f0f8ff;
         object-fit: contain;
      }
  </style>
</head>
<body>

<%= render "shared/header" %>

<div class="container">
  <h2>マイページ</h2>
  <p>名前: <span id="my-name"><%= @user.last_name %> <%= @user.first_name %></span></p>
  <p>所属: <span id="my-name"><%= Affilation.find(@user.affilation_id).name %></span></p>
  <p>メールアドレス: <span id="my-email"><%= @user.email %></span></p>
  <p>内線番号: <span id="my-extension"><%= @user.inner_line %></span></p>
  
  <h3>過去の質問一覧</h3>
  <% @questions.each do |question| %>
    <ul>
      <li><%= link_to question, question_path(question.id) %></li>
    </ul>
  <% end %>
  
  <h3>過去の回答一覧</h3>
  <ul>
      <li>回答内容1</li>
      <li>回答内容2</li>
  </ul>
</div>

</body>
</html>
