<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
<div class = "image">
  <%= link_to image_tag("Bridge.png", class: 'main-logo'),"/" %>
</div>
 <% if user_signed_in? && current_user.department_id == 1%>
    <div class = "left-btn">
      <div class= "department-new">
        <%= link_to '部署作成', new_department_path ,class: "button"%>
      </div>
    </div>
      <% end %>
          <div>
    <% if user_signed_in? %>

    </div>
        <div class = "right-btn">
      <div class = "department">
        <%= link_to Department.find(current_user.department_id).department ,"/departments/#{current_user.id}",class: "button"%>
      </div>
    <div class = "news">
      <%= link_to current_user.last_name + ' ' + current_user.first_name ,"/users/#{current_user.id}",class: "button"%>
      <span class="notice">3</span>
    </div>
    <div class = "logout">
      <%= link_to 'ログアウト', destroy_user_session_path,data: { turbo_method: :delete },class: "button"%>
    </div>
    </div>
      <% else %>
      <%= link_to 'ログイン', new_user_session_path ,class: "button"%>
      <%= link_to '新規登録' ,new_user_registration_path ,class: "button"%>
      <% end %>
  </div>
</header>