<%= render "shared/header" %>

<div class="container">
  <h2>質問回答</h2>
  <h3>該当の質問内容</h3>
  <div class="question">
  <h2><%= @question.title %></h2>
  <p class="details">
    <p class="details">
<%= User.find(@question.user_id).inner_line %> | <%= User.find(@question.user_id).last_name %> <%= User.find(@question.user_id).first_name %>
　To: <%= Department.find(@question.department_id).department %> | 回答期限: <%= @question.deadline %></p>
  
  <div class="content">
      <h3>質問内容</h3>
      <p><%= @question.content %></p>
  </div>
  </div>
  <% if @question.image.attached?%>
<div class = "image-box-item">
  <%= image_tag @question.image, class: "image-box" %>
</div>
<% else %>
<% end %>
<%= form_with(model: [@question, @answer], local: true) do |f| %>
     <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
      <%= f.label :回答%>
      <%= f.text_field :answer, id:"answer", placeholder:"回答を入力" %>
  </div>
  <button>回答する</button>
<% end %>